.container h1{
  font-size: 30px;
  color: grey;
}

.container h2{
  font-size: 30px;
  color: rgb(125, 94, 110);
  text-decoration: underline;
}
.btn-primary{
  margin-top: 30px;
}

.navbar {
  margin-bottom: 15px;
}
